.movie {
  border: 1px solid wheat;
  background-color: wheat;
  border-radius: 5px;
  width: 40%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.data {
  margin: auto;
  padding: 5px;
  text-align: left;
  font-family: "Yeon Sung", cursive;
  font-size: 20px;
}

.data h4 {
  margin: auto;
  padding: 5px;
  color: black;
}

.movie {
  width: 85%;
}
