.movie {
  border: 1px solid wheat;
  background-color: wheat;
  border-radius: 5px;
  width: 40%;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.data {
  margin: 10px;
  padding: 5px;
  text-align: left;
}

.data h4 {
  margin: auto;
  padding: 5px;
  font-size: 15px;
  color: black;
}
